<div class="panel panel-default">
    <div class="panel-heading">
        {{ form_label(form.seo) }}
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(form.seo.seoTitle) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.seo.seoTitle) }}
                {{ form_errors(form.seo.seoTitle) }}
                <div class="row">
                    <div class="col-sm-9">
                        <a role="button" data-toggle="collapse" href="#collapseSeoTitle" aria-expanded="false" aria-controls="collapseSeoTitle">
                        {{ 'seo.form.title.exemple' | trans }} <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-sm-3 text-right">
                        <span class="help-block right">{{ 'seo.form.title.maxCar' | trans }}</span>
                    </div>
                </div>
                <div class="collapse" id="collapseSeoTitle">
                    <div class="well">
                        {% image '@LCHSeoBundle/Resources/public/images/seo-help-title.png' %}
                        <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(form.seo.seoDescription) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.seo.seoDescription) }}
                {{ form_errors(form.seo.seoDescription) }}
                <div class="row">
                    <div class="col-sm-9">
                        <a role="button" data-toggle="collapse" href="#collapseSeoDescription" aria-expanded="false" aria-controls="collapseSeoDescription">
                        {{ 'seo.form.description.exemple' | trans }} <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-sm-3 text-right">
                        <span class="help-block right">{{ 'seo.form.description.maxCar' | trans }}</span>
                    </div>
                </div>
                <div class="collapse" id="collapseSeoDescription">
                    <div class="well">
                        {% image '@LCHSeoBundle/Resources/public/images/seo-help-description.png' %}
                        <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(form.seo.slug) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.seo.slug) }}
                {{ form_errors(form.seo.slug) }}
            </div>
            <div class="col-md-2">
                <a class="btn btn-default" role="button" id="generateSlug" data-url="{{path('lch_seo_getslug')}}" data-id="{{entity.id}}" data-entityClass="{{ getClassName(entity) }}">
                  {{ 'seo.form.url.generate' | trans }}
                </a>
            </div>
            <div class="col-md-2">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 col-md-offset-2">
                <div class="slugerror"></div>
                <div class="slugmessage">
                    {% if entity.slug %}
                        {{ 'seo.form.url.infos' | trans }} {{ getFrontUrlRedirection(entity) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>